<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <% if (errorMsg) { %>
                    <div class="user-message user-message--error">
                        <%= errorMsg %>
                    </div>
                    <% } %>

                        <form class="product-form"
                            action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>"
                            method="POST" novalidate enctype="multipart/form-data">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <div class="form-control">
                                <label for="title">Title</label>
                                <input type="text" name="title" id="title"
                                    class="<%= validationErr.find((e) => e.param === 'title') &&'invalid' %>"
                                    value="<% if (editing) { %><%= product.title %><% }else {%><%=oldValue.title%><%}%>"
                                    <% if (!editing) { %>
                                required
                                <% } %>
                                    >
                            </div>
                            <!-- <div class="form-control">
                                <label for="imageUrl">Image URL</label>
                                <input type="text" name="imageUrl" id="imageUrl"
                                    class="<%= validationErr.find((e) => e.param === 'imageUrl') &&'invalid' %>"
                                    value="<% if (editing) { %><%= product.imageUrl %><% }else {%><%=oldValue.imageUrl%><%}%>">
                            </div> -->

                            <div class="form-control">
                                <label for="image">Image</label>
                                <input type="file" name="image" id="image">
                            </div>

                            <div class="form-control">
                                <label for="price">Price</label>
                                <input type="number" name="price" id="price" step="0.01"
                                    class="<%= validationErr.find((e) => e.param === 'price') &&'invalid' %>"
                                    value="<% if (editing) { %><%= product.price %><% }else {%><%=oldValue.price%><%}%>">
                            </div>
                            <div class="form-control">
                                <label for="description">Description</label>
                                <textarea name="description" id="description"
                                    class="<%= validationErr.find((e) => e.param === 'description') &&'invalid' %>"
                                    rows="5"><% if (editing) { %><%= product.description %><% }else {%><%=oldValue.description%><%}%></textarea>
                            </div>
                            <% if (editing) { %>
                                <input type="hidden" value="<%= product.id %>" name="id">
                                <% } %>

                                    <button class="btn" type="submit">
                                        <% if (editing) { %>Update Product<% } else { %>Add Product<% } %>
                                    </button>
                        </form>
            </main>
            <%- include('../includes/end.ejs') %>