<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <ul class="cart__item-list">
                    <% products.forEach(p=> { %>
                        <li class="cart__item">
                            <h1>
                                <%= p.product.title %>
                            </h1>
                            <h2>Quantity: <%= p.quantity %>
                            </h2>
                        </li>
                        <% }) %>
                </ul>
                <div class="centered">
                    <h2>Total: <%= total %>
                    </h2>
                </div>
                <div class="centered">
                    <form action="/checkout" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="submit" id="checkout-button" class="btn">Checkout</button>
                    </form>
                </div>
            </main>
            <%- include('../includes/end.ejs') %>